:root {
    --color-pink: hsl(350, 100%, 88%);
    --color-orange: hsl(27, 97%, 70%);
    --color-red: hsl(0, 100%, 71%);
    --color-blue: hsl(240, 100%, 71%);
    --color-black: hsl(0, 0%, 29%);
    --color-grey: hsl(0, 0%, 81%);
    --color-border: hsl(240, 100%, 89%); 
}