.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    transition: all 0.2s;
}
.btn:hover {
    background-color: hsl(240, 100%, 81%);
    color: #fff;
}
.blue-btn {
    background-color: var(--color-blue);
    color: #fff;
}
.blue-btn:hover {
    background-color: hsl(240, 100%, 60%);
    
}
.pink-btn {
    background-color: var(--color-pink);
    color: #fff;
}
.pink-btn:hover {
    background-color: hsl(350, 100%, 78%);
    
}
.orange-btn {
    background-color: var(--color-orange);
    color: #fff;
}
.orange-btn:hover {
    background-color: hsl(27, 97%, 60%);
    
}
.red-btn {
    background-color: var(--color-red);
    color: #fff;
}
.red-btn:hover {
    background-color: hsl(0, 100%, 61%);
    
}
.black-btn {
    background-color: var(--color-black);
    color: #fff;
}
.black-btn:hover {
    background-color: hsl(0, 0%, 19%);
    
}
.blue-outline-btn {
    border-color: var(--color-blue);
    color: var(--color-blue);
}
.blue-outline-btn:hover {
    background-color: var(--color-blue);
    
}
.pink-outline-btn {
    border-color: var(--color-pink);
    color: var(--color-pink);
}
.pink-outline-btn:hover {
    background-color: var(--color-pink);
    
}
.orange-outline-btn {
    border-color: var(--color-orange);
    color: var(--color-orange);
}
.orange-outline-btn:hover {
    background-color: var(--color-orange);
    
}
.red-outline-btn {
    border-color: var(--color-red);
    color: var(--color-red);
}
.red-outline-btn:hover {
    background-color: var(--color-red);
    
}
.black-outline-btn {
    border-color: var(--color-black);
    color: var(--color-black);
}
.black-outline-btn:hover {
    background-color: var(--color-black);
    
}
.block-btn {
    display: block;
    width: 100%;
}